<!-- group/{group}}/manager -->

<base href="{{ base_path ~ base_href }}">

<script type="text/javascript">
  window.appConfig = {
    formSubmitBtn: false,
    groupId: {{ group_id }},
    apiBaseUrl: '{{ base_path }}',
    viewType: 'manager',
    userHasInfoCard: '{{ user_has_info_card }}',
    hideInfocardUrl: '/opigno-group-manager/hide-info-card',
    getEntitiesUrl: '/group/%groupId/get-items',
    getEntitiesPositionsUrl: '/group/%groupId/get-positions',
    setEntitiesPositionsUrl: '/group/%groupId/set-positions',
    getEntitiesTypesUrl: '/group/%groupId/get-item-types',
    getEntitiesAvailableUrl: '/group/%groupId/get-available-items',
    getEntityFormUrl: '/group/%groupId/item-form/%bundle/%entityId',
    getActivitiesUrl: '/group/%moduleId/get-activities',
    getGuidedNavigationUrl: '/group/%groupId/get-guided-navigation',
    getRequiredActivitiesUrl: '/group/%contentType/%entityId/get-activities-required',
    submitAddEntityFormUrl: '/group/%groupId/create-item/%bundle',
    addEntityUrl: '/group/%groupId/add-item',
    removeEntityUrl: '/group/%groupId/remove-item',
    addEntityLinkUrl: '/group/%groupId/add-link',
    updateEntityLinkUrl: '/group/%groupId/update-link',
    removeEntityLinkUrl: '/group/%groupId/remove-link',
    updateEntityMandatoryUrl: '/group/%groupId/update-mandatory',
    updateEntityMinScoreUrl: '/group/%groupId/update-min-score',
    updateEntitiesUrl: '/group/%groupId/update-entities',
    updateGuidedNavigationUrl: '/group/%groupId/update-guided-navigation',
    activitiesPageUrl: '/group/%groupId/inner-modules',
    text_opigno_module: '{{ "módulo Opigno"|t|e }}',
    text_course: '{{ "Curso"|t|e }}',
    text_live_meeting: '{{ "Reunión en vivo"|t|e }}',
    text_instructor_led_training: '{{ "Instructor-Led Training"|t|e }}',
    text_close: '{{ "cerrar"|t|e }}',
    text_add_a_new_item: '{{ "Clic aquí para agregar un nuevo artículo"|t|e }}',
    text_do_not_show_this_message_again: '{{ "No mostrar este mensaje de nuevo"|t|e }}',
    text_modules: '{{ "módulos"|t|e }}',
    text_module: '{{ "módulo"|t|e }}',
    text_add: '{{ "agregar"|t|e }}',
    text_update: '{{ "actualizar"|t|e }}',
    text_score: '{{ "puntuación"|t|e }}',
    text_delete: '{{ "eliminar"|t|e }}',
    text_mandatory: '{{ "Obligatorio"|t|e }}',
    text_create_a_new: '{{ "Crear un nuevo"|t|e }}',
    text_or_add_from_existing_catalogue: '{{ "O agregar del catalogo existente"|t|e }}',
    text_minimum_score_to_validate_step: '{{ "Puntaje mínima para validar el paso "|t|e }}',
    bt_add_a_link: '{{ "Agregar un enlace"|t|e }}',
    text_add_your_first_item: '{{ "Agregar tu primer elemento"|t|e }}',
    text_guided_navigation: '{{ "Navegación guiada"|t|e }}',
    text_free_navigation: '{{ "Navegación libre"|t|e }}',
    text_if_entity_dropped_under_children: '{{ "No puede colocar por debajo o al mismo nivel que los hijos, mueva a los hijos antes"|t|e }}',
    text_cannot_drop_over_or_at_the_same_level: '{{ "No se puede colocar sobre o al mismo nivel que el padre"|t|e }}',
    text_click_now_on_the_two_steps_of_your_training: '{{ "Haga clic ahora en los dos pasos de su capacitación para vincularse para crear el vínculo"|t|e }}',
    text_status_message: '{{ "Status message"|t|e }}',
    text_conditions: '{{ "Condiciones"|t|e }}',
    text_edit: '{{ "editar"|t|e }}',
    text_last_step: '{{ "Último paso:"|t|e }}',
    text_validate: '{{ "Validar"|t|e }}',
    text_cancel: '{{ "cancelar"|t|e }}',
    text_delete_link: '{{ "eliminar enlace"|t|e }}',
    text_this_action_create_an_orphan: '{{ "Esta acción crea un huérfano, confirma:"|t|e }}',
    text_confirm: '{{ "confirmar"|t|e }}',
    manageableEntities: ['ContentTypeCourse'],
    nextLink: '{{ next_link }}',
    text_search: '{{ "Buscar"|t|e }}',
    text_score_2: '{{ "Puntuación"|t|e }}',
    text_answer_at_last_step: '{{ "Responde en el último paso"|t|e }}',
    text_before_need_to_add: '{{ "Antes es necesario agregar un"|t|e }}',
    text_activities: '{{ "Actividad"|t|e }}',
    text_tree_view: '{{ "Vista de árbol"|t|e }}',
  };
</script>

<app-root class="d-block">{{ 'Cargando...'|t|e }}</app-root>
