.block-views_block-baluarte_content_events-block_1 h2,
.block-views_block-baluarte_content_events-block_2 h2{
    letter-spacing: -2px;
    color: #f8d002;
    border-bottom: 4px solid;
    margin-bottom: 2rem;
}

.events {
    display: flex;
    margin-bottom: 1rem;
    .events_date {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 1;
        background: $secondary;
        color: $white;
        padding: 10px;
        width: 90px;
        max-width: 55px;
        margin-right: 12px;
        time:first-child{
            font-weight: bold;
            font-size: 25px;
        }
        time:type-of-child(2){
            font-size: 12px;
        }
        time:last-child{
            margin-top: 5px;
            font-size: 10px;
        }
    }
}

#modalImgEvent{
    .modal-content{
        border: 1px solid black;
        box-shadow: 0 8px 22px -8px rgba(0, 0, 0, 0.2);
    }
}