.page-front #main{
  margin-bottom: 0;
}

#carouselEvents {
  border: 5px solid $white;
  border-radius: 20px;
  overflow-y: hidden;
  box-shadow: 0 13px 40px -30px black;
  .overlay {
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  .carousel-footer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    background: $secondary;
    padding: 0 0.5rem;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    @include media-breakpoint-up(lg) {
      position: absolute;
      bottom: 0;
      background: linear-gradient(
        0deg,
        rgba($secondary, 1) 0%,
        rgba($secondary, 0) 100%
      );
    }
    &__title {
      h3 {
        margin: 0.7rem 0;
        color: $primary;
        text-transform: uppercase;
        position: relative;
        &::before {
          content: "";
          height: 2px;
          width: 25%;
          background-color: $primary;
          position: absolute;
          bottom: 0;
        }
      }
    }
    &__buttons {
      @include flexCenter;
      svg {
        color: $white;
      }
      &-left,
      &-right {
        svg {
          width: 25px !important;
          height: 25px;
        }
      }
      &-separator {
        transform: rotate(90deg);
        margin: 0 0.5rem;
      }
    }
  }
}

.bg-map {
  background: url(/profiles/opigno_lms/themes/contrib/platon/dist/images/map-bg.jpg)
    center;
  background-size: cover;
  padding: 3rem;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  overflow: hidden;

  .block-contact_block {
    background: $primary;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 13px 40px -30px black;
    input,
    textarea {
      border-radius: 20px;
    }
    input[type=submit]{
      background-color: $secondary;
    }
    #contact-message-feedback-form{
      label, .description, #edit-preview{
        display: none;
      }
      .form-element-wrapper{
        width: 100%;
      }
    }
  }
}
