<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row gx-md-5">

                {% if page.footer3 %}
                <div class="col-12 col-md-12 col-lg-4 logo">
                {% else %}
                <div class="col-12 col-md-6 logo">
                {% endif %}
                    <img src="/profiles/opigno_lms/themes/contrib/platon/images/bacademico-logo.svg" alt="" />
                </div>

                {% if page.footer3 %}
                <div class="col-12 col-md-6 col-lg-4 info">
                {% else %}
                <div class="col-12 col-md-6 info"> 
                {% endif %}
                    <div class="info-content">
                        {{ page.footer2 }}
                        {# <div class="block">
                            <p>
                                Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Aliquam, voluptate.
                            </p>
                        </div>
                        <div class="info-content__menu">
                            <div class="info-content__menu-item">
                                <div class="info-content__menu-item-icon">
                                    <i data-feather="smartphone"></i>
                                </div>
                                <div class="info-content__menu-item-text">
                                    (+57) 310 807 4519
                                </div>
                            </div>
                            <div class="info-content__menu-item">
                                <div class="info-content__menu-item-icon">
                                    <i data-feather="compass"></i>
                                </div>
                                <div class="info-content__menu-item-text">
                                    Sabana Park, Torre 3,<br> Oficina 507 - Cajicá. Cundinamarca
                                </div>
                            </div>
                            <div class="info-content__menu-item">
                                <div class="info-content__menu-item-icon">
                                    <i data-feather="mail"></i>
                                </div>
                                <div class="info-content__menu-item-text">
                                    contacto@baluarteacademico.com
                                </div>
                            </div>
                        </div> #}
                    </div>
                </div>

                {% if page.footer3 %}
                <div class="col-12 col-md-6 col-lg-4">
                    {{ page.footer3 }}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom__copy">
            {# <p>Copyrights © All Rights Reserved By Bluarte Académico</p> #}
            {{ page.footer }}
        </div>
    </div>
</footer>