{# <header id="site-header" class="header"> #}
<header class="header">
    {% if page.branding %}
      <div class="header-top">
          <div class="logo">
            <a href="/" title="Inicio">
              <img src="{{ base_path ~ directory }}/images/bacademico-logo.svg" alt="" />
            </a>
          </div>
      </div>
    {% endif %}

    {# Menu opigno #}
    {% if logged_in %}
      <div id="site-header">
        <div id="header-usermenu" class="d-flex justify-content-center mb-2">
          {% if page.admin_opigno %}
            <div class="admin-opigno-block d-md-block dropdown">
              <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
                {# <i class="icon-settings menu-icon"></i> #}
                <i class="fas fa-cog menu-icon"></i>
                <span class="sr-only">{{ 'Admin menu'|t }}</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right">
                <div class="info d-flex">
                  <div class="flex-1">
                    <div><strong class="text-uppercase">{{ 'administration'|t }}</strong></div>
                  </div>
                  <button class="close-dropdown">
                    <i class="icon-close"></i>
                    <span class="sr-only">
                      {{ 'Close'|t }}
                    </span>
                  </button>
                </div>
                <div class="px-4 d-flex menu-wrapper">
                  {{ page.admin_opigno }}
                </div>
              </div>
            </div>
          {% endif %}
          <div class="user-ilts dropdown d-md-block ml-3">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              {# <i class="icon-ilt menu-icon"></i> #}
              <i class="fas fa-chalkboard-teacher menu-icon"></i>
              {% if upcoming_ilts_count %}
                <div class="unread">{{ upcoming_ilts_count }}</div>
              {% endif %}
              <span class="sr-only"> {{ 'Instructor-Led Trainings'|t }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="info d-flex">
                <div class="flex-1">
                  <div><strong class="text-uppercase">{{ 'Instructor-Led Training'|t }}</strong></div>
                </div>
                <button class="close-dropdown">
                  <i class="icon-close"></i>
                  <span class="sr-only">
                    {{ 'Close'|t }}
                  </span>
                </button>
              </div>
              {% if upcoming_ilts_count %}
                <div id="ilts-wrapper">
                  {% for ilt in upcoming_ilts %}
                    <div class="dropdown-item notification">
                      <a href="{{ ilt['link'] }}">
                        <span>{{ ilt['title'] }}</span>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <div id="ilts-wrapper-empty">
                  <span>{{ 'No upcoming ILT'|t }}</span>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="user-live-meetings dropdown d-md-block ml-3">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              {# <i class="icon-live-meeting menu-icon"></i> #}
              <i class="fas fa-tv menu-icon"></i>
              {% if upcoming_live_meetings_count %}
                <div class="unread">{{ upcoming_live_meetings_count }}</div>
              {% endif %}
              <span class="sr-only">{{ 'Live meetings'|t }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="info d-flex">
                <div class="flex-1">
                  <div><strong class="text-uppercase">{{ 'Live Meeting'|t }}</strong></div>
                </div>
                <button class="close-dropdown">
                  <i class="icon-close"></i>
                  <span class="sr-only">
                    {{ 'Close'|t }}
                  </span>
                </button>
              </div>
              {% if upcoming_live_meetings_count %}
                <div id="live-meetings-wrapper">
                  {% for meeting in upcoming_live_meetings %}
                    <div class="dropdown-item notification">
                      <a href="{{ meeting['link'] }}">
                        <span>{{ meeting['title'] }}</span>
                      </a>
                    </div>
                  {% endfor %}
                </div>
              {% else %}
                <div id="live-meetings-wrapper-empty">
                  <span>{{ 'No upcoming live meeting'|t }}</span>
                </div>
              {% endif %}
            </div>
          </div>
          <div class="user-notifications dropdown ml-3">
            <a href="{{ path('view.opigno_notifications.page_all') }}" class="d-flex align-items-center" data-toggle="dropdown">
              {# <i class="icon-user-notifications menu-icon"></i> #}
              <i class="fas fa-bell menu-icon"></i>
              {% if notifications_unread_count %}
                <div class="unread">{{ notifications_unread_count }}</div>
              {% endif %}
              <span class="sr-only">{{ 'Notifications'|t }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="info d-flex">
                <div class="flex-1">
                  <div><strong class="text-uppercase">{{ 'notifications'|t }}</strong></div>
                </div>
                <button class="close-dropdown">
                  <i class="icon-close"></i>
                  <span class="sr-only">
                    {{ 'Close'|t }}
                  </span>
                </button>
              </div>
              <a id="read-all-notifications" class="mark-as-read" href="#">{{ 'Mark as all read'|t }}</a>
              <div id="notifications-wrapper">{{ notifications_unread }}</div>
              <a id="show-all-notifications" class="dropdown-item primary text-center" href="{{ path('view.opigno_notifications.page_all') }}">
                <span>{{ 'See all notifications'|t }}</span>
              </a>
              {{ attach_library('opigno_notification/opigno_notification') }}
            </div>
          </div>
          <div class="user-messages dropdown ml-3">
            <a href="{{ path('private_message.private_message_page') }}" class="d-flex align-items-center" data-toggle="dropdown">
              {# <i class="icon-user-messages menu-icon"></i> #}
              <i class="fas fa-inbox menu-icon"></i>
              {% if unread_thread_count %}
                <div class="unread">{{ unread_thread_count }}</div>
              {% endif %}
              <span class="sr-only">{{ 'Messages'|t }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="info d-flex">
                <div class="flex-1">
                  <div><strong class="text-uppercase">{{ 'messages'|t }}</strong></div>
                </div>
                <button class="close-dropdown">
                  <i class="icon-close"></i>
                  <span class="sr-only">
                    {{ 'Close'|t }}
                  </span>
                </button>
              </div>
              <a id="read-all-messages" class="mark-as-read" href="#">{{ 'Mark as all read'|t }}</a>
              {{ private_messages }}
              <a class="dropdown-item primary text-center" href="{{ path('private_message.private_message_page') }}">
                <span>{{ 'See all messages'|t }}</span>
              </a>
            </div>
          </div>
          <div class="user-block ml-3 dropdown">
            <a href="#" class="d-flex align-items-center" data-toggle="dropdown">
              {% if user_picture %}
                <span class="picto" style="background-image:url('{{ user_picture }}')"></span>
              {% else %}
                {# <i class="icon-user menu-icon"></i> #}
                <i class="fas fa-user menu-icon"></i>
              {% endif %}
              <span class="sr-only">{{ 'My account'|t }}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right">
              <div class="info d-flex">
                <div class="flex-1">
                  <div><strong class="text-uppercase">{{ user.username }}</strong></div>
                  <div class="user-status text-uppercase"><i class="icon-user-status"></i>{{ 'online'|t }}</div>
                </div>
                <button class="close-dropdown">
                  <i class="icon-close"></i>
                  <span class="sr-only">
                      {{ 'Close'|t }}
                  </span>
                </button>
              </div>
              <a class="dropdown-item" href="{{ url('entity.user.canonical', {'user': user.id}) }}">
                <span>{{ 'User profile'|t }}</span>
              </a>
              <a class="dropdown-item" href="{{ url('entity.user.edit_form', {'user': user.id}) }}">
                <span>{{ 'Settings'|t }}</span>
              </a>
              <a class="dropdown-item" href="https://www.opigno.org" target="_blank">
                <span>{{ 'Help'|t }}</span>
              </a>
              {% if is_admin %}
                <button type="button" class="dropdown-item about" data-toggle="modal" data-target="#aboutModal">
                  <span>{{ 'About'|t }}</span>
                </button>
              {% endif %}
              <a class="dropdown-item primary text-center" href="{{ url('user.logout') }}">
                <span>{{ 'Logout'|t }}</span>
              </a>
            </div>
          </div>
          {# <button class="navbar-toggler">
            <i class="icon-menu"></i>
            <span class="sr-only">{{ 'Menu'|t }}</span>
          </button> #}
        </div>
      </div>
    {% endif %}
    {# Fin Menu opigno #}

    {% if page.menu_principal %}
      {# <div id="header-menu">
        {{ page.menu_principal }}
        <div class="search-trigger d-flex align-items-center">
          <button type="button" id="search-trigger">
            <i class="fas fa-search"></i>
          </button>
        </div>
        <div id="search-form" style="display: none;">
            {% if opigno_search_form is defined %}
              {{ opigno_search_form }}
            {% else %}
              {{ search_form }}
            {% endif %}
        </div>
      </div> #}

      <div class="header-bottom">
        <div class="header-bottom__menu">
            <div class="header-bottom__menu-icon d-md-none">
                <i class="fas fa-bars"></i>
            </div>
            {{ page.menu_principal }}
            {# <nav class="header-bottom__menu-ele nav justify-content-center">
                <a class="nav-link active" aria-current="page" href="#">Active</a>
                <a class="nav-link" href="#">Link</a>
                <a class="nav-link" href="#">Link</a>
            </nav> #}
        </div>
        <div class="header-bottom__icons">
            <div class="search">
                {# <form>
                    <input type="search" placeholder="Buscar...">
                </form> #}
                {% if opigno_search_form is defined %}
                  {{ opigno_search_form }}
                {% else %}
                  {{ search_form }}
                {% endif %}
            </div>
            {% if not logged_in %}
            <div class="user dropdown dropleft">
                <div class="user-btn dropdown-toggle" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <i class="fas fa-user"></i>
                </div>
                <div class="dropdown-menu p-3" aria-labelledby="dropdownMenuLink">
                    <h5>Iniciar Sesión</h5>
                    {{ login_form }}
                    <div class="mt-2">
                      <p class="text-muted mb-0">
                        ¿No tienes cuenta?<br><span><a href="/user/register">Crea una aquí</a></span>
                      </p>
                    </div>
                </div>
                {# <div class="loggin text-right mt-2">
                  <div data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <span>Iniciar Sesión</span>
                  </div>
                  <div class="dropdown-menu p-4 dropdown-menu-right">
                      {{ login_form }}
                      <div class="mt-2">
                        <p class="text-muted mb-0">
                          ¿No tienes cuenta? <span><a href="/user/register">Crea una aquí</a></span>
                        </p>
                      </div>
                  </div>
                </div> #}
            </div>
            {% endif %}
        </div>
    </div>
    {% endif %}
</header>

{% if is_admin %}
  <div class="modal" id="aboutModal">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <div class="flex-1">
            <div><strong class="text-uppercase">{{ 'About'|t }}</strong></div>
          </div>
          <button type="button" class="close-dropdown" data-dismiss="modal">
            <i class="icon-close"></i>
            <span class="sr-only">
              {{ 'Close'|t }}
            </span>
          </button>
        </div>
        <div class="modal-body">
          <div class="d-flex">
            <div class="left-col mr-4">
              <img src="{{ opigno_logo }}" alt="{{ 'opigno logo'|t }}">
            </div>
            <div class="right-col">
              <p class="text mb-4">
                {{ 'Opigno™ is a Trademark of Connect-i Sàrl, based in Préverenges, Switzerland. For more information regarding Opigno™ please consult the website'|t }} <a href="https://www.opigno.org" target="_blank">www.opigno.org</a>.
              </p>
              <p class="version d-flex align-items-center flex-wrap">
                <span class="mr-3">{{ 'Version :'|t }}</span>
                {% if opigno_lms_release %}
                  <span class="{{ opigno_lms_updates }}">{# for green/red icon use class: ok / nok #}
                    {% if opigno_lms_updates == 'ok' %}
                      <i class="icon-ok mr-2"></i>
                    {% elseif opigno_lms_updates == 'nok' %}
                      <i class="icon-close mr-2"></i>
                    {% endif %}

                    Opigno {{ opigno_lms_release }}
                  </span>
                {% else %}
                  <span>{{ 'N/A'|t }}</span>
                {% endif %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% if page.menu %}
  <div id="menu-wrapper" class="container" role="complementary">
    <div class="bg-faded">
      {{ page.menu }}
      <div class="d-md-none">
        <nav id="mobile-menu">
          <ul>
            <li>
              <a href="{{ url('view.search_content.page_1') }}" class="search {% if route_name == 'view.search_content.page_1' %}is-active{% endif %}">
                {{ 'Search'|t }}
              </a>
            </li>
            {% if logged_in %}
              <li>
                <a href="{{ url('entity.user.canonical', {'user': user.id}) }}" class="user {% if route_name == 'entity.user.canonical' %}is-active{% endif %}">
                  <span>{{ 'User profile'|t }}</span>
                </a>
              </li>
              <li>
                <a href="{{ url('entity.user.edit_form', {'user': user.id}) }}" class="administration {% if route_name == 'entity.user.edit_form' %}is-active{% endif %}">
                  <span>{{ 'Settings'|t }}</span>
                </a>
              </li>
              <li>
                <a href="https://www.opigno.org" target="_blank" class="help">
                  <span>{{ 'Help'|t }}</span>
                </a>
              </li>
              <li>
                <a href="{{ url('user.logout') }}" class="logout">
                  <span>{{ 'Logout'|t }}</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
{% endif %}
