#tabsCustom #tabs{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 1rem;
  padding: 0 0.8rem;
}

#tabsCustom #tabs li{
  padding: 0.4rem 0.8rem;
  border-bottom: 2px solid #d6d6d6;
  border-radius: 0.8rem;
  margin-bottom: 0.5rem;
}

#tabsCustom #tabs li.active{
  background: #f8d002;
  border-bottom-color: #f8d002;
}

#tabsCustom #tabs li.active button,
#tabsCustom #tabs li:hover button{
  color: #021E40;
}

#tabsCustom #tabs button{
  border: 0px;
  background: transparent;
  cursor: pointer;
  text-transform: uppercase;
}

#tabsCustom #tabs button:focus,
#tabsCustom #tabs button:active{
  box-shadow: none;
}

@media (min-width: 768px) {
  #tabsCustom #tabs li{
    border-bottom-right-radius: 0rem;
    border-bottom-left-radius: 0rem;
  }
}