#WAButton {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 65px;
    height: 65px;
    margin-right: 10px;
    margin-bottom: 10px;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
    transition: box-shadow 0.2s;
}

#WAButton:hover{
    box-shadow: 0 0 13px 0px rgba(0,0,0,0.8);
}