<!-- group/{group}/inner-modules -->

<base href="{{ base_path ~ base_href }}">

<script type="text/javascript">
  window.appConfig = {
    formSubmitBtn: false,
    groupId: {{ learning_path_id }},
    apiBaseUrl: '{{ base_path }}',
    moduleContext: {{ module_context }},
    text_all: '{{ "Todo"|t|e }}',
    text_activities_bank: '{{ "Banco de actividades"|t|e }}',
    text_add_activity: '{{ "Agregar actividad"|t|e }}',
    text_activity: '{{ "actividad"|t|e }}',
    text_activities: '{{ "actividades"|t|e }}',
    text_show_activities: '{{ "Mostrar actividades"|t|e }}',
    text_add_activities_to_the_module: '{{ "Agregar actividades al módulo"|t|e }}',
    text_close: '{{ "cerrar"|t|e }}',
    text_move: '{{ "mover"|t|e }}',
    text_preview: '{{ "previsualizar"|t|e }}',
    text_max_score: '{{ "maximo puntaje"|t|e }}',
    text_edit: '{{ "editar"|t|e }}',
    text_delete: '{{ "eliminar"|t|e }}',
    text_choose_an_activity_type: '{{ "ELIGE UN TIPO DE ACTIVIDAD"|t|e }}',
    text_choose_an_activity: '{{ "ELIGE UNA ACTIVIDAD"|t|e }}',
    text_help: '{{ "ayuda"|t|e }}',
    text_create_a_new_activity: '{{ "Crea una nueva actividad"|t|e }}',
    text_or_add_from_existing_catalogue: '{{ "O agregar desde el catálogo existente"|t|e }}',
    text_search_for_an_activity: '{{ "Buscar una actividad"|t|e }}',
    text_activity_id_table: '{{ "ID de actividad"|t|e }}',
    text_max_score_table: '{{ "Máximo puntaje"|t|e }}',
    text_edit_table: '{{ "Editar"|t|e }}',
    text_remove_table: '{{ "Eliminar"|t|e }}',
    text_confirm_delete: '{{ "Confirmar eliminación"|t|e }}',
    text_cancel: '{{ "cancelar"|t|e }}',
    text_confirm: '{{ "confirmar"|t|e }}',
    text_preview_of_activity: '{{ "Vista previa de la actividad"|t|e }}',
    text_property_of: '{{ "Propiedad de"|t|e }}',
    text_add_a_step: '{{ "AÑADIR UN PASO"|t|e }}',
    text_add_a: '{{ "AGREGA UN"|t|e }}',
    text_create_a_new: '{{ "Crear un nuevo"|t|e }}',
    text_module: '{{ "módulo"|t|e }}',
    text_modules: '{{ "módulos"|t|e }}',
    text_tree_view: '{{ "Vista de árbol"|t|e }}',
    text_score: '{{ "Puntuación"|t|e }}',
    text_search: '{{ "Buscar"|t|e }}',
    viewType: 'activities',
    userHasInfoCard: '{{ user_has_info_card }}',
    hideInfocardUrl: '/opigno-group-manager/hide-info-card',
    getEntitiesUrl: '/group/%groupId/get-items',
    getEntitiesPositionsUrl: '/group/%groupId/get-positions',
    getModulesUrl: '/group/%groupId/modules/get-items',
    getActivitiesUrl: '/group/%moduleId/get-activities',
    getExtPackageFormUrl: '/module/%opigno_module/add-external-package',
    getExtPackagePptFormUrl: '/module/%opigno_module/add-external-package/ppt',
    updateActivityUrl: '/group/%moduleId/update-activity',
    deleteActivityUrl: '/group/%moduleId/delete-activity',
    getActivityTypesUrl: '/module/manager/get-activity-types',
    getActivityFormUrl: '/module/%opigno_module/item-form/%type/%item',
    getActivityPreviewUrl: '/module/manager/activity-preview/%opigno_activity',
    getActivityListUrl: '/module/%opigno_module/manager/get-activities-list',
    addActivityUrl: '/module/%opigno_module/add-activity/%opigno_activity/group/%group_id',
    addActivitiesBankUrl: '/opigno_module/%opigno_module/activities-bank-lpm',
    updateWeightUrl: '/module/manager/update-weight',
    nextLink: '{{ next_link }}',
    text_score_2: '{{ "Puntuación"|t|e }}',
    text_answer_at_last_step: '{{ "Responde en el último paso"|t|e }}',
  };
</script>

<app-root class="d-block">{{ 'Cargando...'|t|e }}</app-root>
