// HTML
//<link rel="preconnect" href="https://fonts.googleapis.com">
//<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
//<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap" rel="stylesheet">

//CSS
//@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;700&display=swap');

@mixin josefin-font {
    font-family: 'Josefin Sans', sans-serif;
}

@mixin josefin-light{
    font-weight: 300;
}

@mixin josefin-regular{
    font-weight: 400;
}

@mixin josefin-bold{
    font-weight: 700;
}