.footer{
    border-top: 5px solid $primary;
    color: $white;
    &-top{
        background-color: $secondary;
        padding: 4rem 0;
        .logo{
            @include flexCenter;
            padding-bottom: 3rem;
            @include media-breakpoint-up(lg){
                padding-bottom: 0;
            }
            img{
                width: 180px;
            }
        }
        .info{
            border-right: 1px solid $gray-600;
            &-content__menu{
                margin-top: 1rem;
                &-item{
                    display: flex;
                    margin-bottom: 0.8rem;
                    .link-text{
                        display: none;
                    }
                    &:last-child{
                        margin-bottom: 0;
                    }
                    &-icon{
                        background-color: $primary;
                        border-radius: 100%;
                        width: 25px;
                        height: 25px;
                        display: block;
                        @include flexCenter;
                        margin-right: 0.5rem;
                        svg{
                            width: 18px;
                            color: $secondary
                        }
                    }
                    &-text{
                        max-width: 220px;
                    }
                }
            }
            .block-block_content{
                border-bottom: 1px solid $gray-600;
            }
        }
    }
    &-bottom{
        @include flexCenter;
        background-color: $secondary-black;
        color: $gray-600;
        p{
            margin: 0;
            padding: 0.5rem 3rem;
            font-size: 14px;
            text-align: center;
            @include media-breakpoint-up(md){
                padding: 0.5rem 0;
            }
        }
    }
}