html.inIframe footer,
html.inIframe header{
    display: none;
}

body{
    @include josefin-font;
}

#main > div:last-child{
    overflow: hidden;
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin btnIcon {
    background-color: $primary;
    border-radius: $border-radius;
    width: 30px;
    height: 30px;
}

@mixin svg($color, $size) {
    svg{
        color: $color;
        width: $size;
    }
}