.header{
    background: $secondary;
    border-bottom: 3px solid $primary;
    position: relative;
    @include media-breakpoint-up(lg){
        &::before{
            content: '';
            background: url(/profiles/opigno_lms/themes/contrib/platon/dist/images/academico-icon.svg) no-repeat;
            position: absolute;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
            opacity: 0.1;
            background-size: 100%;
            width: 20%;
        }
    }
    &-top{
        margin-bottom: 3rem;
        padding-top: 2rem;
        .logo{
            @include flexCenter;
            img{
                width: 180px;
                @include media-breakpoint-up(md){
                    width: 350px;
                }
            }
        }
    }
    &-bottom{
        @include flexCenter;
        padding-bottom: 1rem;
        padding-left: 1rem;
        padding-right: 1rem;
        justify-content: space-between;
        @include media-breakpoint-up(md){
            justify-content: center;
            padding-left: 0;
            padding-right: 0;
            background: linear-gradient(0deg, rgba(2,30,64,1) 0%, rgba(2,30,64,0) 100%);
        }
        &__menu{
            &-icon{
                @include btnIcon;
                @include flexCenter;
                @include svg($secondary, 18px);
            }
            &-ele{
                display: flex;
                flex-direction: column;
                margin-top: 1rem;
                box-shadow: none;
                transform: translateY(-120px);
                z-index: -1;
                opacity: 0;
                width: calc(100% - 2rem );
                transition: all .2s ease-in-out;
                position: absolute;
                @include media-breakpoint-up(md){
                    flex-direction: row;
                    position: inherit;
                    opacity: inherit;
                    margin-top: 0;
                    width: 100%;
                    transform: inherit
                }
                .nav-item{
                    margin: 0 2rem;
                    &:first-child{
                        margin-left: 0;
                    }
                    .nav-link{
                        padding: .2rem 1rem;
                    }
                }
                a{
                    color: $white;
                    @include josefin-light;
                    transition: $transition-base;
                    border-radius: $border-radius;
                    &.is-active,
                    &:hover{
                        background-color: $primary;
                        color: $secondary;
                    }
                    &.active{
                        @include josefin-bold;
                    }
                }
                &.show{
                    background-color: $primary;
                    border-bottom-left-radius: $border-radius;
                    border-bottom-right-radius: $border-radius;
                    box-shadow: 1px 8px 21px -12px black;
                    transform: translateY(0px);
                    z-index: 999;
                    opacity: 1;
                    a{
                        color: $secondary;
                    }
                }
            }
        }
        &__icons{
            display: flex;
            align-items: center;
            .search{
                .form-actions {
                    display: none; 
                }
                input{                
                    outline: none;
                    &[type=search]{
                        background: $primary url('/profiles/opigno_lms/themes/contrib/platon/dist/images/search-icon.svg') no-repeat 6px center;
                        background-size: 18px;
                        padding: 3px 8px;
                        margin-right: 6px;
                        border: 0;                        
                        border-radius: $border-radius;
                        transition: all .4s;
                        appearance: textfield;
                        box-sizing: content-box;
                        font-size: 100%;
                        width: 15px;
                        height: inherit;
                        color: transparent;
                        cursor: pointer;
                        &:hover {
                            background-color: #fff;
                        }
                        &:focus {
                            width: 130px;
                            padding-left: 32px;
                            color: #000;
                            background-color: #fff;
                            cursor: auto;
                            border-color: $primary;
                            box-shadow: 0 0 5px $primary;
                        }
                    }
                    &:-moz-placeholder{
                        color: transparent;
                    }
                    &::-webkit-input-placeholder {
                        color: transparent;
                    }
                    &::-webkit-search-decoration,
                    &::-webkit-search-cancel-button{
                        display: none; 
                    }
                }
            }
            .user{
                @include btnIcon;
                @include flexCenter;
                margin-right: 1rem;
                @include svg($secondary, 18px);
                transition: all .5s;
                &:hover{
                    background-color: $white;
                    cursor: pointer;
                    svg{
                        color: $secondary-black;
                    }
                }
                &-login-form{
                    .form-element-wrapper{
                        width: inherit !important;
                    }
                }
                .dropdown-toggle::before{
                    display: none !important;
                }
                .dropdown-menu{
                    text-align: center;
                    width: 277px;
                    margin-top: 35px;
                }
                #edit-actions--3{
                    justify-content: center;
                    margin-top: .5rem;
                    margin-bottom: 0;
                }
            }
            div:last-child{
                margin-right: 0;
            }
            
        }
    }
}