// Slider Home eventos
#events-carousel{
  .carousel-item{
    .overlay{
          color: white;
          background: rgba(0,0,0,0.7);
          padding: 1rem 1.5rem;
          @include media-breakpoint-up(sm){
              transform: translateY(50%);
              right: 0;
              max-width: 350px;
              bottom: 50%;
              position: absolute;
          }
          p{
              margin: 0;
              line-height: 1.3;
          }
          .field-btn{
              text-align: right;
          }
      }
  }
}
.carousel-btns{
    position: relative;
    padding: 0.5rem;
    text-align: center;
    .btn{
        box-shadow: 0 0 8px rgba(0,0,0,0.4);
    }
}

//Servicios Home
.view-baluarte-content-services{
    .views-field-nothing{
        text-align: center;
        // @include media-breakpoint-up(sm){
        //     text-align: left;
        // }
        .field-title{
            margin: 1rem 0rem;
            font-weight: bold;
            a{
                color: var(--gray-dark);
            }
        }
    }
}

//Título menu redes sociales academico
.block-system_menu_block-siguenos-en-academico{
    h2{
        font-size: 13px;
        color: var(--gray);
        text-align: right;
    }
}

//Form login
.block-user_login_block{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        text-align: center;
    }
}

//Block comunidad
#block-encabezadocomunidad{
    .field-bt-image{
        display: flex;
        justify-content: center;
        background: $white;
        height: auto;
    }
}

//page nosotros
.block-views_block-baluarte_content_socios-block_1,
.block-views_block-baluarte_content_socios-block_2{
    .field-name{ font-weight: bold; margin-bottom: 0.5rem; color: var(--gray);}
    .views-field-field-sobre-mi{ line-height: 1.3; }
}
.block-views_block-baluarte_content_socios-block_1{
    .view-content{
        padding: 0.5rem;
        background: var(--light);
        border: 1px solid var(--gray);
    }
    .field-name{ margin-top: 0.5rem; text-align: center;}
}
.block-views_block-baluarte_content_socios-block_2{
    .views-field-field-sobre-mi{ margin-left: 1rem; }
}

//Page Noticias
.block-views_block-baluarte_content_notice-block_1,
.block-views_block-baluarte_content_notice-block_2,
.block-views_block-baluarte_content_notice-block_3,
.block-views_block-baluarte_content_notice-block_5{
    padding: 1.2rem;
    h2{
        text-align: center;
        margin: 2rem 0rem 1rem 0rem;
    }
}

.block-views_block-baluarte_content_notice-block_1{
    .item{
        text-align: center;
    }
}

.block-views_block-baluarte_content_notice-block_2{
    background-color: #f5f5f5;
}

//Aplicar a las noticias
.item{
    margin-bottom: 1.5rem;
    .views-field-field-article-image{
        overflow: hidden;
        margin-bottom: 0.5rem;
        img{
            transition: all .2s ease-in;
            &:hover{
                transform: scale(1.1);
                border: 2px solid red;
            }
        }
    }
    .views-field.views-field-created {
        font-size: 14px;
    }
    .views-field-title{
        line-height: 1.1;
        a{
            color: var(--gray-dark);
            font-size: 17px;
            font-weight: bold;
        }
    }
}

//Slider clientes
.carousel-item.min-height{
    min-height: 150px;
}