<base href="{{ base_path ~ base_href }}">

<script type="text/javascript">
  window.appConfig = {
    columns: 3,
    positions: [[], [], [], []],
    apiBaseUrl: '{{ base_path }}',
    apiRouteName: '{{ route_name }}',
    getPositioningUrl: '/opigno_dashboard/get-positioning',
    getDefaultPositioningUrl: '/opigno_dashboard/get-default-positioning',
    setPositioningUrl: '/opigno_dashboard/set-positioning',
    getBlocksContentUrl: '/opigno_dashboard/get-blocks',
    defaultConfig: '{{ default_config|raw }}',
    defaultColumns: '{{ default_columns|raw }}',
    locales: {
      manageYourDashboard: '{{ 'Manage your dashboard'|t }}',
      remove: '{{ 'remove'|t }}',
      close: '{{ 'close'|t }}',
      layout: '{{ 'Layout'|t }}',
      oneColumn: '{{ '1 column'|t }}',
      twoColumns: '{{ '2 columns'|t }}',
      asymColumns: '{{ '1/3-2/3 columns'|t }}',
      threeColumns: '{{ '3 columns'|t }}',
      addBlocks: '{{ 'Add blocks by dragging them below into the canvas'|t }}',
      restoreYourDashboard: '{{ 'Restore your dashboard to default:'|t }}',
      restoreToDefault: '{{ 'restore to default'|t }}'
    }
  };
</script>

<div class="container">
  <app-root class="d-block dashboard">{{ 'Loading dashboard...'|t }}</app-root>
</div>
