#site-footer {
  background-color: $footer-background-color;
  min-height: $footer-height;
  border-top: 5px solid $footer-border-color;
  color: $footer-font-color;
  padding: 1rem;
  font-size: 13px;
  justify-content: center;
  @include media-breakpoint-up(sm){
      justify-content: flex-end;
      padding: 1.5rem;
  }
}



// footer{
//   margin-top: 2rem;
//   .container{
//       background: $gray;
//       padding: 1rem;
//       border-top: 4px solid $secondary;
//       text-align: center;
//       font-size: 13px;
//       @include media-breakpoint-up(sm){
//           padding: 2%;
//           text-align: right;
//       }
//   }
// }