#site-header {
  // background: $header-background-color;
  color: #fff;
  padding: 0;
  // height: $header-height;
  position: relative;
  z-index: 100;

  [data-toggle="dropdown"] {
    text-decoration: none;
    color: $white;

    &:hover {
      color: $primary;
    }
  }

  .menu-icon {
    font-size: 25px;
    line-height: 1.2;
  }

  button.navbar-toggler {
    border: 0;
    background: none !important;
    padding: 0;
    box-shadow: none;
    color: $white;
    font-size: 28px;

    &.open {
      .icon-menu {
        &:before {
          content: icon(close);
        }
      }
    }

    @include media-breakpoint-up(breakpoint-next($header-mobile-breakpoint)) {
      display: none;
    }
  }

  #header-sitebranding {
    a {
      display: inline-block;

      img {
        max-height: calc(#{$header-height} - 1.5rem);
      }
    }
  }

  #header-usermenu {
    .picto {
      height: $header-picto-size;
    }

    .unread {
      width: 18px;
      height: 18px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
      background-color: $blood-red-600;
      border: 1px solid;
      border-radius: 100%;
      color: #fff;
      text-decoration: none;
      position: absolute;
      top: 7px;
      transform: translate(50%, -50%);
    }
    .user-block {
      .picto {
        width: $header-user-picto-size;
        height: $header-user-picto-size;
      }

      i {
        font-size: $header-user-picto-size;
        line-height: 1;
      }
    }

    .user-block,
    .user-messages,
    .user-notifications {
      // @include media-breakpoint-down($header-mobile-breakpoint) {
      //   display: none;
      // }

      a[data-toggle] {
        position: relative;
      }
    }

    .admin-opigno-block {
      @include media-breakpoint-down(md) {
        position: static;
      }

      h2 {
        font-size: 1rem;
        text-transform: uppercase;
        margin-bottom: 1em;
      }

      nav > ul:not(.contextual-links) {
        margin-left: -1.5rem;
        max-width: 100vw;
        display: flex;
        flex-direction: row;
        min-width: 500px;

        > li {
          padding-left: 1.5rem;

          + li {
            margin-top: 0;
          }

          > a {
            display: block;
            color: inherit;
            font-size: 1rem;
            text-transform: uppercase;
            margin-bottom: 1em;
            font-weight: 600;
            text-decoration: none;
            pointer-events: none;
            min-height: 48px;
          }

          ul {
            li {
              + li {
                margin-top: 10px;
              }

              a {
                @include make-button($light-gray, $light-blue, inherit);
              }
            }
          }
        }
      }

      ul:not(.contextual-links) {
        padding: 0;
        margin: 0;
        list-style: none;
      }
    }

    .user-block {
      a[data-toggle] {
        .picto {
          border: 2px solid $white;
          border-radius: 100%;
          overflow: hidden;
          background-image: url('../../images/picto-user.png');
          background-repeat: no-repeat;
          background-position: center;
          background-size: cover;
        }
      }

      button.dropdown-item:not(.primary),
      a.dropdown-item:not(.primary) {
        @include make-button($light-gray, $light-blue);

        + button,
        + a {
          margin-top: 0.5rem;
        }
      }
    }

    .user-ilts {
      a[data-toggle] {
        .unread {
          right: 1px;
        }
      }
    }

    .user-live-meetings {
      a[data-toggle] {
        .unread {
          right: 1px;
        }
      }
    }

    .user-notifications {
      a[data-toggle] {
        .unread {
          right: 9px;
        }
      }
    }

    .user-messages {
      a[data-toggle] {
        .unread {
          right: 4px;
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        padding: 0;
        border: 0;
        box-shadow: 0 0 20px 2px rgba(0, 0, 0, .2);
        padding-bottom: 1rem;
        margin: 0;
        top: -5px !important;
        min-width: 300px;
        left: auto !important;
        transform: translate(-50%, 38px)!important;
        margin-left: 12px;

        @include media-breakpoint-down(md) {
          left: 0 !important;
          margin-left: 0;
          transform: translate(0, 0) !important;
          top: $header-height !important;
        }

        @include media-breakpoint-down(sm) {
          display: none;
        }

        .views-row + .views-row {
          margin-top: 10px;
        }

        .info {
          min-height: 80px;
          padding: 1.5rem 2rem 0;
          border-bottom: 1px solid;
          margin-bottom: 25px;

          .close-dropdown {
            height: 1.5rem;
            padding: 0;
            background: none;

            i {
              font-size: 16px;
            }
          }

          .user-status {
            color: #9faf5b;
            font-size: 0.875rem;

            i {
              font-size: 0.875rem;
              margin-right: 0.5em;
            }
          }
        }

        .mark-as-read {
          background-color: $light-gray;
          text-decoration: underline;
          display: block;
          color: inherit;
          padding: 0.75rem 2rem;
          margin-top: -47px;
          margin-bottom: 47px;
          font-style: italic;
        }

        .dropdown-item.notification {
          padding: 0;

          a,
          span.button {
            @include make-button($light-gray, $light-blue);
            width: calc(100% - 1rem);
            color: inherit;

            + a.dropdown-item {
              margin-top: 0.5rem;
            }
          }

          + .dropdown-item.notification {
            margin-top: 10px;
          }
        }

        a.dropdown-item.primary {
          background-color: #898988;
          color: #fff;
          margin-top: 2rem!important;
          padding: 0.75rem 2rem;

          &:hover {
            background-color: $green;
          }
        }
      }
    }

    // .user-notifications.dropdown .dropdown-menu {
    //   left: 108px !important;
    // }

    // .user-messages.dropdown .dropdown-menu {
    //   left: 54px !important;
    // }

    div#notifications-wrapper {
      max-height: 400px;
      overflow: auto;
    }
  }

  #header-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: $body-bg;
    color: $primary;
    position: relative;
    min-height: 46px;
    @include media-breakpoint-up(sm){
      justify-content: center;
    }
    #block-menuprincipal{
      background: $body-bg;
      position: fixed;
      display: none;
      top: 0;
      left: -200px;
      height: 100vh;
      z-index: 10;
      width: 200px;
      &.show{
          display: block;
          left: 0px;
      }
      .nav{
          flex-direction: column;
          margin-top: 40px;
          .nav-item{
              border-bottom: 1px solid $medium-gray-100;
              position: relative;
              &:first-child{
                  position: absolute;
                  right: 0;
                  top: 0;
                  z-index: 999;
                  // background: $primary;
                  border-left: 1px solid $medium-gray-100;
              }
              a{
                color: $primary;
                padding: 0.7rem 1rem;
                font-size: 16px;
                &.is-active{
                  &::before{
                    content: '';
                    position: absolute;
                    bottom: 0;
                    width: 100%;
                    height: 2px;
                    background: $primary;
                    margin-left: -16px;
                  }
                }
              }
              &:hover{
                  background-color: $medium-gray-100;
              }
              @include media-breakpoint-up(sm){
                  // border-right: 1px solid $primary;
                  border-bottom: 0px !important;
                  // &:last-child{
                  //     border-right: 0px;
                  // }
                  // a{
                  //     color: $primary
                  // }
                  &::before{
                    content: '';
                    position: absolute;
                    right: 0;
                    top: 0;
                    width: 1px;
                    height: 50%;
                    background: $medium-gray-100;
                    transform: translateY(50%);
                  }
              }
          }
          @include media-breakpoint-up(sm){
              margin-top: 0px;
          }
      }
      @include media-breakpoint-up(sm){
          display: block;
          position: relative;
          height: initial;
          width: auto;
          left: initial;
          .nav{
              flex-direction: initial;
              .nav-item{
                  &:first-child{
                      display: none;
                  }
              }
          }
      }
    }
    #block-menuhamburguesa{
      svg{
        font-size: 1.5em;
      }
    }
  }

  #search-trigger  {
    color: $medium-gray-200;
    text-decoration: none;
    box-shadow: none;
    background: none;

    svg{
      color: $primary
    }

    &:hover {
      color: $medium-gray;
    }

    i {
      font-size: 26px;
    }

    &.open {
      display: none;
    }
  }

  #search-form {
    // min-height: $header-search-height;
    z-index: 10;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    // border: 1px solid red;
    width: 100%;
    min-height: 46px;
    background: white;

    form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      .form-group {
        margin-bottom: 0;
      }

      input[type="search"] {
        border: 0;
        max-width: 100%;
        text-align: center;
        background-color: transparent;
        color: $header-search-color;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1rem;
        transition: 0s;

        &:focus{
          box-shadow: initial
        }
      }

      .form-actions {
        display: none;
      }
    }
  }

  .view-display-id-block_last {
    background-color: transparent;

    .view-content {
      background-color: transparent;

      .views-row {
        @include make-button($light-gray, $light-blue);
        border-left: 0;

        &:hover::before {
          top: 50%;
          transform: translateY(-50%);
        }

        .user-picture {
          margin: 0 10px 0 0;
        }

        .created,
        .field-pm-subject,
        .username {
          margin: 0 0 0 75px;
        }
      }
    }
  }
 
}

div#aboutModal {
  position: absolute;

  .left-col {
    flex: 1 0 auto;
    max-width: 200px;
  }

  .modal-dialog {
    margin-top: $header-height;

    @each $breakpoint, $width in $grid-breakpoints {
      $container-max-width: map-get($container-max-widths, $breakpoint);

      @include media-breakpoint-up($breakpoint) {
        @if $container-max-width {
          margin-right: calc(#{$grid-gutter-width / 2} + 50vw - #{$container-max-width / 2});
        }

        @if not $container-max-width {
          margin-right: $grid-gutter-width / 2;
        }
      }
    }

    body.toolbar-fixed & {
      margin-top: calc(#{$header-height} + 39px);
    }

    body.toolbar-fixed.toolbar-tray-open.toolbar-horizontal & {
      margin-top: calc(#{$header-height} + 79px);
    }
  }

  .modal-content {
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
  }

  .modal-header {
    min-height: calc(115px - .5rem);
    padding: 3rem 2rem 0;
    border-bottom: 1px solid;
    margin-bottom: 47px;
    align-items: flex-start;

    .close-dropdown {
      padding: 0;
    }
  }

  .version span {
    i {
      display: inline-block;
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 50%;
      font-size: 8px;
      color: $white;
      text-align: center;
      line-height: 1.5rem;
    }

    .icon-ok {
      background-color: #c2d66d;
    }

    .icon-close {
      background-color: #ea5547;
    }
  }
}
