input#edit-preview{
  color: $white !important;
  &:hover{
    background-color: $blueHover;
  }
}

.term-tax {
  margin-bottom: 1.5rem;
  .field-tax-pages-image{
    display: flex;
    justify-content: center;
  }
  p{
    margin-top: 1rem;
  }
}

.alert button[type="button"].close,
.views-admin .messages--warning button[type="button"].close{
  color: #303030 !important;
}

nav[aria-labelledby="-menu"] h2,
#block-footer-menu {
    text-align: center;
    font-size: 13px;
    color: var(--gray);
    @include media-breakpoint-up(sm){
      text-align: right;
    }
}

.footer__menu,
.siguenos-en-academico-__menu{
    justify-content: center;
    margin-bottom: 0.5rem;
    @include media-breakpoint-up(sm){
        justify-content: flex-end;
    }
    .nav-item{
        background-color: $secondary;
        margin-right: 5px;
        border-radius: 50%;
        overflow: hidden;
        .nav-link {
            position: relative;
            width: 30px;
            height: 30px;
            padding: 0px;
            color: $secondary;
            // i::before{
            svg{
                position: absolute;
                top: 7px;
                left: 50%;
                transform: translateX(-50%);
                color: white;
                font-size: 18px;
            }
        }
        &:last-child{
            margin-right: 0px;
        }
        &:hover{
            background-color: var(--light);
            a{
                color: var(--light);
                svg{
                    color: $secondary;
                }
            }
        }
    }
}
.siguenos-en-academico-__menu{
    margin-bottom: 1.5rem;
}