html {
  min-height: 100%;
  display: flex;

  body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;

    footer#site-footer,
    header#site-header {
      display: flex;
    }

    header#site-header {
      margin-bottom: $header-margin-bottom;
    }

    footer#site-footer {
      flex-flow: row wrap;
      margin-top: $footer-margin-top;
    }

    #main {
      display: flex;
      flex: 1 0 auto;
      margin-bottom: $footer-margin-top;

      @include media-breakpoint-down(xs) {
        max-width: 100vw;
      }

      #main-content {
        flex: 0 1 100%;
      }
    }

    &.anonymous-slider {
      #main {
        padding-top: 0;
        padding-bottom: 0;
      }
    }
  }

  a[href="#main-content"] {
    color: $deeper-blue;
  }
}

//Landingpage
.path-frontpage{
  header#site-header{
      margin-bottom: 0rem;
  }
  #main{
    .content-wrapper{
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      #block-platon-branding{
        display: flex;
        justify-content: center;
        align-items: flex-end;
        height: 50vh;
        img {
          max-height: calc(174px - 0.5rem);
        }
      }
      .field-bt-lp-image{
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        img{
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }
      .field-bt-lp-link{
        height: 30vh;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
          color: #fff;
          font-size: 1.5rem;
          text-transform: uppercase;
          letter-spacing: 10px;
          text-decoration: none;
          position: relative;
          transition: all .2s ease-in;
          &:hover{
            transform: scale(1.1);
          }
          &::before{
            content: '';
            width: 30px;
            height: 2px;
            background: white;
            position: absolute;
            bottom: 0;
            transform: translate(62px, 18px) rotate(45deg);
          }
          &::after{
            content: '';
            width: 30px;
            height: 2px;
            background: white;
            position: absolute;
            bottom: 0;
            right: 0;
            transform: translate(-70px, 18px) rotate(-45deg);
          }
        }
      }
    }
  }
  footer#site-footer{
      margin-top: 0;
  }
}

//Node
.page-node-article{
  .block-page_title_block{
      margin-bottom: .8rem;
      h1{
          line-height: 1;
      }
  }
  .node-post-date{
      font-style: italic;
      font-weight: bold;
      margin-bottom: 0.5rem;
      font-size: 14px;
  }
}

//Página clientes
#clients-carousel{
  margin: 5rem 0rem;
  .col-12.col-md-3{
      display: flex;
      justify-content: center;
      @include media-breakpoint-up(sm){
          justify-content: flex-end
      }
  }
  .views-field-field-client-title{
      font-weight: bold;
      color: $secondary;
  }
  .carousel-btns{
      display: flex;
      justify-content: center;
      margin-top: 1rem;
      .btn{
          margin-right: 0.5rem;
          box-shadow: 0 0 9px rgba(0,0,0,0.3);
          &:last-child{
              margin-right: 0rem;
          }
      }
  }
}

//Page contactenos
.path-contactenos{
  .field--type-image{
      margin-bottom: 2rem;
  }
}

//Page services
.view-baluarte-content-services.view-display-id-block_1{
  .views-field-nothing{
      margin-bottom: 2rem;
      .field-image{
          margin-bottom: 2rem;
      }
      .field-title{
          font-weight: bold;
      }
  }
}