<div class="container">
    <div>
        {% if is_front %}
            <a href="/inicio">
        {% endif %}
                <div class="col-md-12">
                    {{ content.content }}
                </div>
        {% if is_front %}
            </a>
        {% endif %}
    </div>
</div>