{# HOME #}
<div class="container my-4">
    <div class="row">
    {% if content.two %}
        <div class="col-12 col-md-8">
    {% else %}
        <div class="col-12">
    {% endif %}
            {{ content.one }}
        </div>

    {% if content.two %}
        <div class="col-12 col-md-4">
            {{ content.two }}
        </div>
    {% endif %}
    </div>
</div>
<div class="container-fluid bg-map">
    <div class="container">
        {% if content.three %}
        <div class="row">
            <div class="col-md-5">
                {{ content.three }}
            </div>
        </div>
        {% endif %}

        {% if content.left %}
            <div class="col-md-6">
                {{ content.left }}
            </div>
        {% endif %}

        {# {% if content.right %}
            <div class="col-md-6">
                {{ content.right }}
            </div>
        {% endif %} #}
    </div>
</div>