<div {{ attributes.setAttribute('id', settings.css_id).addClass('container', settings.css_classes) }}>
    <div id="tabsCustom">
        <ul id="tabs">
            <li class="active">
                <button class="tab-link" data-tab="{{ settings.tab0_title }}" type="button">
                {{ settings.tab0_title }}
                </button>
            </li>
            <li>
                <button class="tab-link" data-tab="{{ settings.tab1_title }}" type="button">
                {{ settings.tab1_title }}
                </button>
            </li>
            <li>
                <button class="tab-link" data-tab="{{ settings.tab2_title }}" type="button">
                {{ settings.tab2_title }}
                </button>
            </li>
        </ul>
        <div class="tab-content" id="tabContent">
            <div class="tab-pane active" data-tab="{{ settings.tab0_title }}">
                {{ content.one }}
            </div>
            <div class="tab-pane" data-tab="{{ settings.tab1_title }}">
                {{ content.two }}
            </div>
            <div class="tab-pane" data-tab="{{ settings.tab2_title }}">
                {{ content.three }}
            </div>
        </div>
    </div>
</div>
